[submodule "AlphaRTC"]
    path = AlphaRTC
    url = https://github.com/OpenNetLab/AlphaRTC.git
    branch = gym
[submodule "ns-3-dev"]
    path = ns-3-dev
    url = https://gitlab.com/nsnam/ns-3-dev.git
